<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826841104876-bcc52aitlm09u0tj8j4fce6lfj3h17ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826841104876-bcc52aitlm09u0tj8j4fce6lfj3h17ht</string>
	<key>API_KEY</key>
	<string>AIzaSyDly9vuH1CMdqjWZyg-8raQB5RgCEgaBcM</string>
	<key>GCM_SENDER_ID</key>
	<string>826841104876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csun.Koinex</string>
	<key>PROJECT_ID</key>
	<string>koinex-comp680</string>
	<key>STORAGE_BUCKET</key>
	<string>koinex-comp680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826841104876:ios:5895849240de41aa9a80c9</string>
</dict>
</plist>